<v-form
  ref="formSignUp"
  v-model="authSignUpForm.valid"
  class="sign-form"
  lazy-validation
  @submit.prevent="onAuthSignUp($refs)"
>
  <h2 class="sign-title">Sign Up</h2>

  <v-text-field
    v-model="authSignUpForm.data.name"
    label="Name"
    required
  ></v-text-field>

  <v-text-field
    v-model="authSignUpForm.data.email"
    :rules="emailRules"
    label="Email"
    required
  ></v-text-field>

  <v-select
    v-model="authSignUpForm.data.role"
    :items="Roles"
    filled
    label="Filled style"
  ></v-select>

  <v-text-field
    v-model="authSignUpForm.data.password"
    :rules="passwordRules"
    label="Password"
    required
  ></v-text-field>

  <div class="sign-button-row">
    <v-btn
      :disabled="!authSignUpForm.valid"
      color="primary"
      type="submit"
    >
      Sign Up
    </v-btn>

    <router-link
      class="sign-link"
      to="/auth/sign-in"
      @click="clearError()"
    >
      Sign In
    </router-link>
  </div>

</v-form>
